.about-us {
    padding-top: 20px;
    border-bottom: 1px solid #660000;
    margin-bottom: 1px;
}

.about-us-block {
    border: 1px solid #d8d8d8;
    padding: 10px;
}

.about-us-block-number {
    color: #fff;
    font-size: 18px;
    line-height: 100px;
}

.about-us-latest-news:before {
    content: attr(div);
    display: block;
    border-top: 1px solid #d8d8d8;
}

.about-us-video {
    width: 100%;
    max-height: 100%;
}

.about-us-profile {
    border: 1px solid #d8d8d8;
    padding: 5px;
}

.about-us-profile-number {
    color: #fff;
    font-size: 12px;
    line-height: 72px;
}

.horizontal-line {
    height: 1px;
    background-color: #b7b7b7;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

/*Calendar*/

.ic__header {
    background: #fff;
}

.ic__prev, .ic__next {
    background: #fff;
    color: #333333;
    border: 1px solid #d8d8d8;
    top: 6px;
    width: 7%;
    height: 24px;
}

.ic__prev div {
    border-right-color: #333333;
    top: 6px;
    margin-left: -8px;
}

.ic__next div {
    border-left-color: #333333;
    top: 6px;
    margin-right: -8px;
}

.ic__prev:hover, .ic__next:hover {
    background-color: #fff;
}

.ic__header select {
    border: none;
    cursor: pointer;
}

.ic__month {
    left: 30%;
    width: 19%;
}

.ic__year {
    right: 30%;
    width: 19%;
}

.myCalendar .ic__container table {
    border-collapse: separate !important;
    border-spacing: 6px !important;
}

.ic__week-head {
    margin-bottom: 5px;
}

.ic__week-head td {
    font-size: 12px;
    border: none;
    color: #333333;
}

.ic__days td {
    font-size: 12px;
    color: #333333;
    border: 1px solid #d8d8d8;
}

.ic__days .ic__day_state_current {
    background: #d8d8d8;
}

.ic__days .ic__day:hover {
    background: #d8d8d8;
    color: #333333;
}