.navbar-header {
    padding: 0.5rem 0;
}

.navbar-search {
    padding: 8px 5px 5px 40px;
}

.navbar a:not([href]) {
    color: #fff;
    cursor: pointer;
}

.form-inline {
    margin-left: 13px;
}

.search-input {
    height: 26px;
    min-width: 250px;
    padding: 5px 70px 5px 5px;
}

.search-btn {
    position: absolute;
    right: 1px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #660000;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 5px;
}

.search-btn:hover {
    background-color: #660000;
}

.nav-item .nav-link:hover {
    color: #fff;
}

.header-pipe:after {
    content: '|';
    position: relative;
    left: 9px;
}

@media (max-width: 768px) {
    .form-inline {
        margin-left: 0;
    }

    .search-input {
        margin-left: 0;
    }

    .navbar-search {
        padding: 8px 5px 5px 12px;
    }
}