.main-content {
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;
}

/*Slider*/

.wrap-slider {
    background-color: #e1e1e1;
    height: 100%;
    padding: 15px;
}

.main-content-slider {
    min-height: 280px;
    background-color: #333333;
}

.slider-title-card {
    min-height: 80px;
    background-color: #282828;
    padding: 10px;
}

.slider-content-number {
    font-size: 120px;
    color: #fff;
    text-align: center;
}

.slider-title {
    color: #fff;
    font-size: 20px;
}

.slider-title-card-link {
    font-size: 14px;
    margin-top: -3px;
}

.slider-title-card-link a {
    color: #ff4646;
}

.slider-title-card-link a:hover {
    text-decoration: none;
}

.main-content-slider-min {
    min-height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-slide {
    background-color: #b7b7b7;
}

.slider-nav .slick-slide {
    margin-right: 5px;
}

.slick-current {
    background-color: #333333;
}

.slider-content-number-min {
    font-size: 26px;
    color: #fff;
    text-align: center;
}

.slider-nav {
    max-width: 89%;
}

.prev-arrow {
    cursor: pointer;
    position: relative;
    top: 40px;
    right: 25px;
    font-size: 25px;
}

.next-arrow {
    cursor: pointer;
    position: absolute;
    right: -25px;
    bottom: 18px;
    font-size: 25px;
}

/*End slider*/
.right-block-number {
    color: #fff;
    font-size: 18px;
    line-height: 124px;
}

.right-block-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

