.nav-menu {
    border-bottom: 2px solid #e7e7e7;
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.nav-item-custom {
    padding: 10px 36px 10px 0;
}

.custom-link-pipe:after {
    content: attr(div);
    position: relative;
    left: 24px;
    border-right: 2px solid #e7e7e7;
}

.navbar-toggler {
    line-height: 1.5;
    padding: 0 5px;
    border: none;
}

button.navbar-toggler:focus {
    outline: 0;
}

.navbar-toggler-icon {
    color: #660000;
}

.navbar-expand-lg .nav-link.custom-link {
    color: #660000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    transition: .5s;
    display: flex;
    height: 50px;
    line-height: 40px;
    padding: 5px 45px 5px 0;
}

.navbar-expand-lg .nav-link.custom-link.active {
    color: #242424;
}

.navbar-expand-lg .nav-link.custom-link:hover {
    color: #242424;
    transition: .5s;
}

@media (max-width: 992px) {
    .collapse:not(.show) {
        display: flex;
    }
}

@media (max-width: 768px) {
    .collapse:not(.show) {
        display: none;
    }

    .custom-link-pipe:after {
        content: none;
    }

    .navbar-expand-lg .nav-link.custom-link {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}