.pre-footer-block {
    background-color: #460000;
    text-align: center;
    min-height: 80px;
    margin-bottom: 20px;
}

.pre-footer-block-title {
    font-size: 22px;
    color: #fff;
    line-height: 80px;
}
