.bg-red {
    background-color: #660000;
}

.bg-light-grey {
    background-color: #f6f6f6;
}

.bg-grey {
    background-color: #e1e1e1;
}

.bg-black {
    background-color: #333333;
}

.f-size-12 {
    font-size: 12px;
}
.f-size-13 {
    font-size: 13px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-18 {
    font-size: 18px;
}

.f-size-22 {
    font-size: 22px;
}

.f-size-32 {
    font-size: 32px;
}

.color-white {
    color: #fff;
}

.color-red {
    color: #660000;
}

.color-light-red {
    color: #ff4646;
}

.color-grey {
    color: #979797;
}

.min-h-100 {
    min-height: 100px;
}

.max-h-120 {
    max-height: 120px;
}

.block-number {
    color: #fff;
    font-size: 18px;
    line-height: 124px;
}

.list-style-type-none {
    list-style-type: none;
}

.line-height-18 {
    line-height: 18px;
}

.border-top-1 {
    border-top: 1px solid #d8d8d8;
}

.border-bottom-1 {
    border-bottom: 1px solid #d8d8d8;
}

.link-before {
    font-size: 13px;
    color: #ff4646;
}

.link-after{
    font-size: 13px;
    color: #ff4646;
}

.link-before:before {
    content: '»';
    color: #ff4646;
    padding-right: 4px;
}

.link-after:after {
    content: '»';
    color: #ff4646;
    padding-left: 4px;
}

.link-after:hover {
    color: #ff4646;
    text-decoration: none;
}

.link-before:hover {
    color: #ff4646;
    text-decoration: none;
}

